*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    text-decoration: none;
}

body{
    background-image: url("../Images/sbbu_background_logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}